<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="chandan" sortOrder="10" translate="label">
            <label>Chandan</label>
        </tab>
        <section id="test" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sync Customer Configuration</label>
            <tab>chandan</tab>
            <resource>Chandan_Test::config_test</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Endpoint</label>
                    <comment>Enter the URL of the API endpoint for syncing customer data</comment>
                </field>
            </group>
        </section>
    </system>
</config>
